NuGetAnalysis/SampleData/MainWindowViewModelSampleData/MainWindowViewModelSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.MainWindowViewModelSampleData" targetNamespace="Expression.Blend.SampleData.MainWindowViewModelSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MainWindowViewModelSampleData" type="tns:MainWindowViewModelSampleData" />
  <xs:complexType name="MainWindowViewModelSampleData">
    <xs:attribute name="Status" type="xs:string" />
    <xs:attribute name="Title" type="xs:string" />
    <xs:attribute blend:FormatParameters="100,12" name="ActiveLabelText" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="CollectionItem">
    <xs:sequence>
      <xs:element name="Collection" type="tns:CollectionItemCollection" />
    </xs:sequence>
    <xs:attribute name="Property1" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="CollectionItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CollectionItem" type="tns:CollectionItem" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>